/* Importing the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300 &display=swap');

/* Global Styles */

/* Body Styles */
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar-light .navbar-brand {
    color: rgb(252, 151, 8);
    font-size: 3rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(252, 151, 8);
    font-size : 1.25rem;
    font-weight: bold;
}

.navbar-light .navbar-toggler{
    color: rgb(252, 151, 8);
    border-color: rgb(9, 238, 131);
}

/* Background Image */
.bg-image {
    /* Styling for the background image */
    background-image: url("../images/junglle.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    height: auto; 
}

/* Introduction Section Styles */
#play-section {
    color: rgb(255, 255, 255);
    font-size: large;
}

h2 {
    /* Styling for subheadings */
    margin-top: 4.063rem;
    color: rgb(255, 255, 255); 
    font-size: 2.375rem; 
}

h3 {
    color: rgb(255, 255, 255); 
    font-size: 2.375rem;
 }

/* Game Section Styles */

/* Styling for the main container */
#container {
    margin-top: 2.5rem; 
    width: 18.75rem; 
    border-radius: 0.625rem; 
}

/* Styling for the animal image */
#animal-image {
    width: 15.625rem;
    height: 15.625rem; 
    margin-bottom: 0.625rem; 
    border-radius: 50%;
}

/* Styling for the answer input field */
input#answer-input {
    margin-bottom: 0.313rem; 
    padding: 0.625rem; 
    width: 100%; 
    border-radius: 0.438rem; 
}

/* Styling for the submit button */
#submit-button {
    padding: 0.625rem 1.25rem; 
    background-color: rgb(22, 93, 6);
    color : rgb(255, 255, 255);

    border: none; 
    border-radius: 0.313rem; 
    cursor: pointer; 
}

/* Styling for the reset button */
#reset-button {
    padding: 0.625rem 1.25rem;
    background-color: rgb(238, 27, 55); 
color : rgb(255, 255, 255);

    border: none; 
    border-radius: 0.313rem; 
    cursor: pointer; 
}

/* Styling for the scoreboard */
#scoreboard {
    margin-top: 0; 
    font-weight: bold; 
    color: rgb(253, 253, 253);
    font-size: 1.563rem; 
}

/* Styling for the feedback message */
#feedback {
    margin-top: 0.625rem; 
    font-weight: bold; 
    color: rgb(238, 27, 55); 
    font-size: 1.563rem; 

}

/* Styling for the winner message */
#winner-message {
    font-size: 1.5rem;
    font-weight: bold; 
    margin-top: 1.25rem; 
    display: none; 
}
